<body>
  <app-navbar></app-navbar>
  <app-header></app-header>


  <section class="about-section">
    <div class="about-container container">
      <p class="about-text">
        Definição de veganismo cunhada pela <strong>The Vegan Society</strong>:<br/>‍<br/>"O veganismo é uma filosofia e um modo de vida que procura excluir –
        <strong>tanto quanto possível e praticável</strong>
        – todas as formas de exploração e crueldade contra os animais para
        alimentação, vestuário ou qualquer outro propósito; e, por extensão,
        promove o desenvolvimento e a utilização de alternativas sem animais
        para o benefício dos animais, dos seres humanos e do ambiente. Em termos
        dietéticos, denota a prática de dispensar todos os produtos derivados
        total ou parcialmente de animais."
      </p>
      <a
        href="https://chat.whatsapp.com/Iumyxh5mmtxDnYcoRUCooL"
        target="_blank"
        rel="noopener"
        class="button"
        >Entre em contato!</a
      >
    </div>
  </section>
  <section class="contact-section">
    <div class="contact-container container">
      <h2>Entre em contato</h2>
      <div class="divider gray-bg"></div>
      <div class="contact-options-container">

        <div class="contact-option-wrapper">
          <div class="icon-wrapper">
            <img src="assets/images/map-icon.png" width="44" />
          </div>
          <h3>nos encontre pessoalmente</h3>
          <p class="contact-text">
            Consulte quando será o nosso próximo encontro presencial e venha
            participar com a gente!
          </p>
        </div>

        <div class="contact-option-wrapper">
          <div class="icon-wrapper">
            <img src="assets/images/mail-icon.png"
              width="70" />
          </div>
          <h3>Por email</h3>
          <p class="contact-text">
            <a href="mailto:friburgovegan@gmail.com?subject=Olá!"
              target="_blank"
              class="link"
              >friburgovegan&#64;gmail.com<br/>
            </a>
          </p>
        </div>

        <div class="contact-option-wrapper">
          <div class="icon-wrapper">
            <img
              src="assets/images/heart-icon.png"
              width="68"
            />
          </div>
          <h3>Nossas redes</h3>
          <a href="https://www.instagram.com/friburgovegan/"
            target="_blank"
            rel="noopener"
            class="social-wrapper">
            <img src="assets/images/instagram-icon-black.svg"
              width="14"
              alt=""
              class="social-icon"
            />
            <div
              class="social-link-text"
            >
              Instagram
            </div>
          </a>
          <a
            href="https://chat.whatsapp.com/Iumyxh5mmtxDnYcoRUCooL"
            target="_blank"
            rel="noopener"
            class="social-wrapper">
            <img src="assets/images/heart-icon.png"
              width="14" class="social-icon"/>
            <div class="social-link-text">WhatsApp</div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <footer class="footer-section">
    <div class="footer-container container">
      <img src="assets/images/logo-cinza.png" width="43" alt="" class="footer-logo"/>
      <p class="footer-text">
        Em desenvolvimento, por Renato Soares
      </p>
    </div>
  </footer>
</body>
