$lightColoredText: #d9d9d9

body
  box-sizing: border-box
  margin: 0
  min-height: 100%
  background-color: #fff
  font-family: Vollkorn, serif
  color: rgb(51, 51, 51)
  font-size: 14px
  line-height: 20px

.section
  &:after
    content: ""
    display: flex
    clear: both

.navbar-section
  position: relative
  z-index: 1000
  padding-top: 18px
  padding-bottom: 18px

.section-container
  display: flex
  margin-left: auto
  margin-right: auto
  max-width: 940px

.navbar-container
  display: flow-root

.brand-block
  font-size: 14px
  line-height: 20px
  background-color: transparent
  position: relative
  float: left
  text-decoration: none
  color: $lightColoredText

.logo-img
  width: 65px
  border: 0
  max-width: 100%
  vertical-align: middle
  display: inline-block
  margin-right: 18px
  float: left

.logo-title
  color: $lightColoredText
  margin: 0.67em 0
  margin-bottom: 10px
  line-height: 38px
  margin-top: 13px
  float: left
  font-family: Oswald, sans-serif
  font-size: 22px
  font-weight: 400

.nav-menu
  display: block
  position: relative
  float: right

.nav-link
  line-height: 20px
  background-color: transparent
  position: relative
  display: inline-block
  vertical-align: top
  text-decoration: none
  text-align: left
  margin-right: auto
  margin-top: 23px
  margin-left: 34px
  padding: 0px
  border-bottom: 2px solid transparent
  font-family: Montserrat, sans-serif
  color: rgb(64, 64, 64)
  font-size: 12px
  font-weight: 400
  text-transform: uppercase

.header-section
  box-sizing: border-box
  padding: 98px 10px
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../assets/images/landscape-cow-and-pigs.jpg')
  background-position: 0px 0px, 50% 70%
  background-size: auto, cover
  color: white
  text-align: center

.header-container
  display: inline-block

.header-title
  margin: 0.67em 0
  margin-bottom: 10px
  margin-top: 7px
  font-family: Montserrat, sans-serif
  font-size: 44px
  line-height: 55px
  font-weight: 400
  text-transform: uppercase

.header-subtitle
  line-height: 20px
  text-align: center
  box-sizing: border-box
  color: rgba(255, 255, 255, 0.81)
  font-size: 18px
  font-style: italic

.divider
  color: white
  text-align: center
  box-sizing: border-box
  display: block
  width: 80px
  height: 2px
  margin: 28px auto
  background-color: white

.gray-bg
  background-color: rgba(0, 0, 0, 0.09)

.about-section
  color: rgb(51, 51, 51)
  padding-bottom: 61px
  background-color: rgb(254, 254, 201)
  text-align: center

.about-container
  display: inline-block
  color: rgb(51, 51, 51)
  padding-top: 34px
  margin-left: auto
  margin-right: auto
  max-width: 940px

.about-text
  margin-bottom: 40px
  color: rgb(71, 71, 79)
  font-size: 18px
  line-height: 25px

.button
  display: inline-block
  padding: 15px 33px
  border-style: solid
  border-width: 1px 1px 2px
  border-color: rgb(71, 71, 79)
  transition-property: background-color
  transition-duration: 300ms
  transition-timing-function: ease
  color: rgb(71, 71, 79)
  font-size: 19px
  font-style: italic
  text-align: center
  text-decoration: none
  outline: 0
  background-color: white

.contact-section
  color: rgb(51, 51, 51)
  padding-top: 69px
  padding-bottom: 69px
  text-align: center
  background-color: black
  background-image: linear-gradient(whitesmoke, rgba(130, 130, 130, 0.9) 100%, black), url("../assets/images/footer-bg.jpg")
  background-size: auto, cover

.contact-container
  display: inline-block

  h2
    margin: 10px 0px
    font-family: Montserrat, sans-serif
    font-size: 23px
    line-height: 36px
    font-weight: 400
    text-transform: uppercase

.contact-options-container
  margin-left: 0px
  margin-right: 0px
  display: flex
  align-items: center
  justify-content: space-around

.contact-option-wrapper
  position: relative
  float: left
  min-height: 1px
  padding-left: 10px
  padding-right: 10px
  width: 30%

  h3
    margin: 0px 0px 20px
    font-family: Montserrat, sans-serif
    font-size: 16px
    line-height: 20px
    font-weight: 400
    text-transform: uppercase

  p
    margin-top: 0px
    margin-bottom: 5px
    font-size: 17px

  a
    text-decoration: none

  .icon-wrapper
    height: 95px
    margin-bottom: 10px
    padding-top: 13px

  .social-wrapper
    background-color: transparent
    max-width: 100%
    display: block
    margin-bottom: 11px
    margin-left: 33%
    text-align: left
    text-decoration: none

    img
      width: 14
      vertical-align: middle
      display: inline-block
      margin-top: -6px
      margin-right: 9px
      filter: brightness(0%)

    .social-link-text
      font-size: 17px
      text-align: left
      display: inline-block

.footer-section
  color: rgb(51, 51, 51)
  font-size: 14px
  display: block
  padding-top: 20px
  padding-bottom: 20px
  text-align: center
  background-color: black

.footer-container
  max-width: 940px
  display: block

  img
    width: 43px
    border: 0
    max-width: 100%
    vertical-align: middle
    display: inline-block
    opacity: 0.4
    filter: brightness(200%)

  p
    font-size: 15px
    margin: 0px
    color: rgba(255, 255, 255, 0.4)
